@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title-face {
    font-family: 'Fredoka One', cursive; 
}

body {
	@apply text-gray-700;
}

html {
    height: 100%;
    background-size: cover;
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

/*
body {
  background: #222222;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
